[Desktop Entry]
Encoding=UTF-8
Name=Link to antlr4/index.md at master · antlr/antlr4
Type=Link
URL=https://github.com/antlr/antlr4/blob/master/doc/index.md
Icon=text-html
Name[en_US]=antlr4-documentation-github-url
