[Desktop Entry]
Encoding=UTF-8
Name=Link to Project Compilers
Type=Link
URL=http://ansymore.uantwerpen.be/sites/ansymo.ua.ac.be/files/uploads/courses/Compilers/pMachine/index.html
Icon=text-html
Name[en_US]=p-machine-url
